h2, h3, h4 {
	font-family: "Fira Sans",sans-serif;
	color: #d07721;
}
h2 {
	text-align: center;
	font-size: 36px;
}
h3 {
    font-size: 20px;
    margin-left: 15px;
}

p {
    color: #d07721;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 26px;
}
strong {
	font-weight: 500;
}
.navbar-transparent {
    padding-top: 30px;
}
nav.navbar ul.navbar-nav a {
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 45px;
}

#video_container {
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

#bgvid {
	min-width: 100%;
	width: 100%;
	z-index: 0;
}
.parallax {
    height: 699px;
    }
    
figure {
    margin-top: 340px;
    text-align: center;
    z-index: 1000;
}
.container figure img {
    position: relative;
    z-index: 9000;
}

/* @group Gurqui */

.main {
    background-color: #ffffff;
    border-top: 20px solid #d07721;
}
#gurqui h2 {
    background-image: url("assets/images/titulo-gurqui.png");
    background-repeat: no-repeat;
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 10px;
    margin-top: 10px;
    text-indent: -9999px;
}
 p.intro {
    margin: 0 50px 160px;
    text-align: center;
    line-height: 24px;
}
p.nombre {
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 23px;
    margin-top: 35px;
    text-align: center;
}
p.info {
	color: #777;
	font-size: 18px;
	margin-top: 0px;
	font-family: "Fira Sans",sans-serif;
}



/* @end */

/* @group imagenes */

.imagenes {
	margin-top: 140px;
}
.imagenes div {
	padding: 0px;
}
.imagenes .col-md-3 {
    width: 25.6%;
}
.imagenes .col-md-3 img {
    width: 100%
}
.imagenes .col-md-2 {
    width: 18.1%;
}
.imagenes .col-md-2 img {
    width: 100%;
}
.imagenes .col-md-7 .row {
    margin-left: 0;
    margin-right: 0;
}
.imagenes img {
    margin-bottom: 2px;
}
.imagenes .col-md-7 {
	width: 55.333%;
}

/* @end */


/* @group Carta */


.carta {
    padding-top: 190px;
    border: none;
}
.bg-carta {
    background-image: url("assets/images/bg_pizarra.jpg");
    height: 730px;
    width: 100%;
    margin-top: 90px;
}
.carta h2 {
    background-image: url("assets/images/title_carta.png");
    background-position: center 70px;
    background-repeat: no-repeat;
    padding-bottom: 62px;
}
.bg-carta .container {
    padding-top: 60px;
}
.marco-carta {
    background-image: url("assets/images/marco.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 490px;
}
.bg-carta h3 {
    color: #fff;
    font-family: baskerville;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
/* @end */

/* @group contacto */
.main.contacto {
    position: relative;
}
.main.contacto img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.contacto .container {
    padding-top: 100px;
}
.contacto .col-md-6 {
	background: rgba(255, 255, 255, 0.9);
}
.contacto p {
    color: #777;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    margin-left: 60px;
}
.contacto p.mail {
	color: #d07721;
} 
.contacto .nav-text a {
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    text-transform: none;
    opacity: 0.5;
    font-weight: 100;
}
.contacto .nav-text .active a {
	 color: #d07721;
	 opacity: 1;
}
.contacto .nav.nav-text {
    border-bottom: 1px solid #d07721;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}
.contacto .tab-pane {
	margin-bottom: 50px;
	margin-left: 15px;
	margin-right: 15px;
}
.contacto .tab-pane p {
    color: #777;
    font-family: "Fira Sans",sans-serif;
    font-size: 14px;
    margin-left: 0px;
    
}
.contacto .text {
	margin: 20px 0;
}
/* @end */
