h2, h3, h4 {
	font-family: "Fira Sans",sans-serif;
	color: #d07721;
}
h2 {
	text-align: center;
	font-size: 36px;
}
h3 {
    font-size: 20px;
    margin-left: 15px;
}

p {
    color: #d07721;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 26px;
}
strong {
	font-weight: 500;
}
.navbar-transparent {
	padding-top: 20px;
}
nav.navbar ul.navbar-nav a {
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 3px 45px 10px;
}
.navbar-transparent .navbar-brand {
    color: #ffffff;
    opacity: 0;
}
nav.navbar ul.navbar-nav .navbar-brand {
	opacity: 1 !important;
}
/*.navbar .navbar-nav > li > a {
    margin: 5px 3px 15px;
}*/
 .navbar-brand {
    background-image: url("assets/images/logo-gurqui-mobile.png");
    background-position: 10px -3px;
    background-repeat: no-repeat;
    background-size: 95% auto;
    text-indent: -9999px;
    width: 276px;
    padding-top: 0 !important;
    }
 
#video_container {
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    
}

#bgvid {
	min-width: 100%;
	width: 100%;
	z-index: 0;
}
.parallax {
    height: 100%;
    border-bottom: 20px solid #d07721;
    overflow: hidden;
    }
.parallax .parallax-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}   
.parallax .parallax-image img {
    height: auto;
    width: 100%;
}
figure {
    margin-top: 290px;
    position: absolute;
    text-align: center;
    width: 95%;
    z-index: 7000;
}
.container figure img {
    position: relative;
}

/* @group Gurqui */
#gurqui {
    padding-top: 40px;
}
.main {
    background-color: #ffffff;
    
}
#gurqui h2 {
    background-image: url("assets/images/titulo-gurqui.png");
    background-repeat: no-repeat;
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 10px;
    margin-bottom: 60px;
    margin-top: 10px;
    text-indent: -9999px;
}
.perfil{
	text-align: center;
}
 p.intro {
    margin: 0 50px 80px;
    text-align: center;
    line-height: 24px;
}
p.nombre {
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 23px;
    margin-top: 35px;
    text-align: center;
}
p.info {
	color: #777;
	font-size: 18px;
	margin-top: 0px;
	font-family: "Fira Sans",sans-serif;
}



/* @end */

/* @group imagenes */

.imagenes {
	margin-top: 80px;
}
.imagenes div {
	padding: 0px;
}
.imagenes .col-md-3 {
    width: 25.6%;
}
.imagenes .col-md-3 img {
    width: 100%
}
.imagenes .col-md-2 {
    margin: 0 2px;
    width: 17.86%;
}
.imagenes .col-md-2 img {
    width: 100%;
}
.imagenes .col-md-7 .row {
    margin-left: 0;
    margin-right: 0;
}
.imagenes img {
    margin-bottom: 2px;
}
.imagenes .col-md-7 {
	width: 55.333%;
}
.imagenes .col-md-7 .col-md-4.uno {
    width: 32.7%;
}
.imagenes .col-md-7 .col-md-4.dos {
    width: 34.3%;
}
.imagenes .col-md-7 .col-md-4.tres {
    overflow: hidden;
    width: 31.8%;
}
.imagenes .col-md-7 .col-md-6.cinco {
    width: 52.8%;
}
.imagenes .col-md-7 .col-md-6.seis {
    width: 46%;
}
/* @end */


/* @group Carta */


.carta {
    padding-top: 70px;
    border: none;
}
.bg-carta {
    background-image: url("assets/images/bg_pizarra.jpg");
    padding-bottom: 70px;
    width: 100%;
    margin-top: 90px;
}
.carta h2 {
    background-image: url("assets/images/title_carta.png");
    background-position: center 70px;
    background-repeat: no-repeat;
    padding-bottom: 62px;
}
.bg-carta .container {
    padding-top: 60px;
}
.marco-carta {
    background-image: url("assets/images/marco.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 490px;
}
.bg-carta h3 {
    color: #fff;
    font-family: baskerville;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
/* @end */

/* @group contacto */


.main.contacto {
    position: relative;
    overflow: hidden;
}
.main.contacto img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.contacto .container {
    padding-top: 100px;
}
.contacto .col-md-6 {
	background: rgba(255, 255, 255, 0.9);
}
.contacto p {
    color: #777;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    margin-left: 60px;
    line-height: 21px;
}
.contacto p.mail {
	color: #d07721;
} 
.contacto .nav-text a {
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    text-transform: none;
    opacity: 0.5;
    font-weight: 100;
}
.contacto .nav-text .active a {
	 color: #d07721;
	 opacity: 1;
}
.contacto .nav.nav-text {
    border-bottom: 1px solid #d07721;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}
.contacto .tab-pane {
	margin-bottom: 40px;
	margin-left: 15px;
	margin-right: 15px;
}
.contacto .tab-pane p {
    color: #777;
    font-family: "Fira Sans",sans-serif;
    font-size: 14px;
    margin-left: 0px;
    line-height: 19px;
}
.contacto .text {
	margin: 20px 0;
}
.contacto ul.nav-text li {
    width: 33%;
}
.nav.nav-text li:last-child {
    text-align: right;
    width: 30%;
}
.nav.nav-text li:last-child a {
	text-align: right;
	margin-right: 0px;
}
.contacto ul.nav-text li:nth-child(2) a {
    text-align: center;
}
.contacto .card-background .map {
    border-radius: 6px;
    height: 255px;
}

/* @end */

/* @group Modal reservas */

label {
    color: #d07721;
    font-size: 16px;
    font-weight: 300;
}
.modal-body {
    padding-top: 0;
}
.form-control {
    margin-bottom: 10px;
}
.alert-success {
    background-color: rgba(76, 217, 100, 0.98);
    margin-top: 160px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

/* @end */


/* @group Media queries */

@media (max-width: 360px) {
	figure { display: none;}
}
@media (min-width: 320px) and (max-width: 480px) {
	 .marco-carta { background-size: 100% 100%; height: 520px;}
	  
    }
@media (max-width: 480px) {
	#gurqui h2 { background-size: 100% auto; margin-bottom: 25px;}
	.marco-carta { background-size: 100% 100%; height: 520px;}
	
	}

@media (max-width: 640px) {
	p.intro { margin: 0 20px 70px; }
	p.nombre { margin-top: 15px; margin-bottom: 0px; }
	p.info {  margin-bottom: 60px; }
	
}
@media (min-width: 800px) {
	.navbar.navbar-ct-azure.navbar-fixed-top { height: 35px; }
	.navbar { min-height: 35px; }
}
@media (max-width: 800px) {
	 figure img { width: 60%;}
     figure { margin-top: 100px;}
     nav.navbar ul.navbar-nav a { padding: 15px 35px; }
      }

@media (max-width: 980px) {
	.col-md-offset-3 {
    padding-top: 1px;
}
}

@media (min-width: 768px) and (max-width: 980px) {
	 .marco-carta { height: 300px;
    }    
    
    
/* @end */    