.navbar-transparent {
    padding-top: 30px;
}
nav.navbar ul.navbar-nav a {
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 45px;
}

#video_container {
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

p {
    color: #d07721;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 26px;
}
#bgvid {
	min-width: 100%;
	width: 100%;
	z-index: 0;
}
.parallax {
    height: 707px;
    }
    
figure {
    margin-top: 340px;
    text-align: center;
    z-index: 1000;
}
.container figure img {
    position: relative;
    z-index: 9000;
}

/* @group Gurqui */

.main {
    background-color: #ffffff;
    border-top: 20px solid #d07721;
}
#gurqui h2 {
    background-image: url("assets/images/titulo-gurqui.png");
    background-repeat: no-repeat;
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 10px;
    margin-top: 10px;
    text-indent: -9999px;
}
 p.intro {
    margin: 0 50px 160px;
    text-align: center;
    line-height: 24px;
}
p.nombre {
    color: #d07721;
    font-family: "Fira Sans",sans-serif;
    font-size: 23px;
    margin-top: 35px;
    text-align: center;
}
p.info {
	color: #777;
	font-size: 18px;
	margin-top: 0px;
	font-family: "Fira Sans",sans-serif;
}

/* @group imagenes */

.imagenes {
	margin-top: 140px;
}
.imagenes div {
	padding: 0px;
}
.imagenes .col-md-3 {
    width: 25.6%;
}
.imagenes .col-md-3 img {
    width: 100%
}
.imagenes .col-md-2 {
    width: 18.1%;
}
.imagenes .col-md-2 img {
    width: 100%;
}
.imagenes .col-md-7 .row {
    margin-left: 0;
    margin-right: 0;
}
.imagenes img {
    margin-bottom: 2px;
}
.imagenes .col-md-7 {
	width: 55.333%;
}

/* @end */

/* @end */

